<app-order></app-order>
<app-calculator></app-calculator>
<div style="text-align:center">
    {{title}}
    </div>
      
    <h1>Uppercase Pipe</h1>
    <b>{{title | uppercase}}</b><br />
    
    <h1>Lowercase Pipe</h1>
    <b>{{title | lowercase}}</b><br />
    
    <h1>Currency Pipe</h1>
    <b>{{6589.23 | currency:"USD":false}}</b><br />
    <b>{{6589.23 | currency:"USD":false}}</b>
    
    <h1>Date Pipe</h1>
    <b>{{todaydate | date:'d/M/y'}}</b><br />
    <b>{{todaydate | date:'shortTime'}}</b>

<router-outlet></router-outlet>
